.custom-nav {
    margin: 20px;
}

.card {
    opacity: 1;
    transition: 0.3s linear;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
}

.custom-form {
    position: absolute;
    top: 5%;
    left: 1%;
    width: 95%;
    height: 90%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}
